body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard {
    background-color: #ffffff;
    padding: 35px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

.dashboard h2 {
    margin-bottom: 20px;
    color: #333;
}

.dashboard p {
    font-size: 16px;
    margin: 10px 0;
    color: #444;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.profile-btn {
    background-color: #28a745;
}

.profile-btn:hover {
    background-color: #218838;
}

.course-btn {
    background-color: #667eea;
}

.course-btn:hover {
    background-color: #5a67d8;
}

.enrolled-btn {
    background-color: #17a2b8;
}

.enrolled-btn:hover {
    background-color: #138496;
}

.logout-btn {
    background-color: #fd7e14;
}

.logout-btn:hover {
    background-color: #e8590c;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
}

form {
    margin-top: 10px;
}

.delete-btn {
    background-color: #c82333;
}

.delete-btn:hover {
    background-color: #a71d2a;
}

